.main-container {
  display: grid;
  grid-template: auto/4fr 1fr;
  padding: 2em;
  gap: 2em;
}

.tickets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  grid-row: 1/-1;
  grid-column: 2/-1;
  background-color: #D6D6D6;
  border-radius: 8px;
  box-shadow: 0 0 7px -2px rgba(33, 37, 41, 0.8823529412);
  height: min-content;
}

.tickets-header {
  color: rgba(33, 37, 41, 0.8980392157);
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em 0 0.25em 0;
}

.tickets {
  display: grid;
  grid-template: 1fr/repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  width: 100%;
  padding: 1em;
  gap: 1em;
}

.ticket-card {
  display: flex;
  flex-direction: column;
  color: rgba(33, 37, 41, 0.6901960784);
  background-color: rgba(247, 247, 247, 0.2941176471);
  font-weight: bold;
  border-radius: 8px;
}

.ticket-info {
  display: grid;
  grid-template: 1fr/repeat(1, 1fr);
  margin: 1em;
  gap: 0.75em;
}

.ticket-module {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1em;
  border-radius: 8px;
  padding: 0.25em;
  gap: 0.5em;
}
.ticket-module:hover {
  background-color: #D6D6D6;
  cursor: pointer;
}

hr {
  height: 2px;
  width: 50%;
  background-color: rgba(33, 37, 41, 0.2117647059);
  border: none;
}

.communication-container {
  display: grid;
  grid-template: min-content/repeat(auto-fit, minmax(350px, 1fr));
  gap: 2em;
}

.internal-message-container,
.submit-ticket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background-color: #D6D6D6;
  border-radius: 8px;
  box-shadow: 0 0 7px -2px rgba(33, 37, 41, 0.8823529412);
  height: min-content;
}

.internal-message-header,
.submit-ticket-header {
  color: rgba(33, 37, 41, 0.8980392157);
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.5em 0 0.25em 0;
}

.internal-messages {
  display: grid;
  grid-template: 1fr auto/repeat(1, minmax(300px, 1fr));
  justify-content: center;
  width: 100%;
  padding: 1em;
  gap: 1em;
}

.submit-ticket {
  width: 100%;
  padding: 1em;
}

.internal-message-card,
.submit-ticket-card {
  display: flex;
  flex-direction: column;
  color: rgba(33, 37, 41, 0.8980392157);
  background-color: rgba(247, 247, 247, 0.2941176471);
  font-weight: bold;
  border-radius: 8px;
}

.internal-message-grid {
  display: grid;
  grid-template: 1fr/repeat(1, 1fr);
  justify-items: center;
  margin: 1em;
  gap: 0.75em;
}

.internal-message-module {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  justify-self: start;
  font-size: 1.1em;
  border-radius: 8px;
  padding: 0.25em;
  gap: 0.5em;
}
.internal-message-module:hover {
  background-color: #D6D6D6;
  cursor: pointer;
}

.text-input-module {
  display: grid;
  grid-template: repeat(2, auto)/1fr;
  justify-items: center;
  padding: 1em;
  gap: 1em;
}
.text-input-module > button {
  color: #F7F7F7;
  background-color: #005172;
  font-weight: bold;
  font-size: 1.1em;
  border: none;
  border-radius: 1em;
  padding: 1em 2em;
  cursor: pointer;
}
.text-input-module > button:hover:not(:active) {
  background-color: rgba(0, 82, 114, 0.9176470588);
}

.message-form,
.ticket-form {
  display: grid;
  grid-template: repeat(4, auto)/1fr;
  width: 100%;
  gap: 0.5em;
}
.message-form > label,
.ticket-form > label {
  justify-self: start;
}
.message-form > input,
.message-form > textarea,
.ticket-form > input,
.ticket-form > textarea {
  color: rgba(33, 37, 41, 0.8980392157);
  background-color: #F7F7F7;
  font-size: 1.1em;
  width: 100%;
  border: none;
  border-radius: 8px;
  padding: 0.5em;
}
.message-form > textarea,
.ticket-form > textarea {
  height: 8em;
  resize: none;
}

/*# sourceMappingURL=internal.css.map */
