.main-container {
  display: grid;
  grid-template: auto 1fr / 1fr 350px;
  padding: 2em;
  gap: 2em;
}

.categories {
  display: grid;
  grid-template: 1fr / repeat(auto-fit, minmax(500px, 1fr));
  justify-content: center;
  width: 100%;
  padding: 1em;
  gap: 1em;
}

.category-card {
  display: flex;
  flex-direction: column;
  color: #212529b0;
  background-color: #f7f7f74b;
  font-weight: bold;
  border-radius: 8px;
}

.category-header {
  font-size: 2em;
  align-self: center;
  padding: .25em;
}

.category-info {
  display: grid;
  grid-template: 1fr / repeat(2, 1fr);
  margin: 1em;
  gap: .75em;
}

.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  background-color: #D6D6D6;
  border-radius: 8px;
  box-shadow: 0 0 7px -2px #212529e1;
  height: min-content;
}

.status-header {
  color: #212529e5;
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em 0 .25em 0;
}

.status-module {
  :hover {
    background-color: #D6D6D6;
    cursor: pointer;
  }
  svg {
    color: #74AA50;
    height: 1.2em;
    width: auto;
  }
  display: flex;
  align-items: center;
  font-size: 1.1em;
  border-radius: 8px;
  padding: .25em;
  gap: .5em;
}

.info-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  grid-column: 2 / -1;
  background-color: #D6D6D6;
  border-radius: 8px;
  box-shadow: 0 0 7px -2px #212529e1;
  height: min-content;
}

hr {
  height: 2px;
  width: 50%;
  background-color: #21252936;
  border: none;
}

.alerts-header {
  color: #212529e5;
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em 0 .25em 0;
}

.module-container {
  :hover {
    background-color: #f7f7f788;
    cursor: pointer;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f74b;
  border-radius: 8px;
  margin: 1em;
}

.module-header {
  color: #212529e5;
  font-size: 1em;
  font-weight: bold;
  padding: 1em 0 .5em 0;
}

.module-text {
  color: #212529dc;
  padding: 0 1em 1em 1em;
}

.twitter-container {
  background-color: #D6D6D6;
  border-radius: 8px;
  box-shadow: 0 0 7px -2px #212529e1;
  height: auto;
  width: 100%;
  padding: 1em;
}

.twitter-timeline {
  height: 100% !important;
}
